{% extends 'base/index_forms.html' %}

{% block title%}
List of inventaries
{% endblock%}

{% block button_new%}
    onclick="window.location.href='{{ url_for('inventory.create') }}'"
{% endblock%}

{% block table_header_actions %}
<th colspan="2">ACTIONS</th>
{% endblock %}

{% block table_rows %}
    {% for row in object_list %}
        <tr>
            {% for key, value in row.items() %}
                {% if key not in ['id','directory'] %}
                    <td>
                        {{value}}
                    </td>
                {% endif %}
            {% endfor %}
            <td><a href="{{ url_for('inventory.delete', id=row.id) }}" type="button" class="btn btn-danger">Delete</a></td>
            <td><a href="{{ url_for('inventory.download', id=row.id) }}" type="button" class="btn btn-success">Download</a></td>
        </tr>
    {% endfor %}
{% endblock %}