{% extends 'base/base.html' %}

{% block extracss %} 
{% endblock %}

{% block title%}
Upload File
{% endblock%}

{% block button1%}
<button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('upload.index') }}'">
    <i class="far fa-arrow-alt-circle-left"></i>Back
</button>
{% endblock%}

{% block scripts %}

{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
        {% from "macro.html" import render_field %}
        {{ render_field(form.file, class='form-control') }}
        {{ render_field(form.year, class='form-control') }}
        {{ render_field(form.month, class='form-control') }}
        {{ render_field(form.fileUpload, class='form-control') }}
        <div class="form-group mt-3">
            <input type="submit" value="Save" class="btn btn-success float-end text-white w-100" name="btn-save">
        </div>
    </form>

{% endblock %}

{% block extrajs %}
{% endblock %}