{% extends 'base/create_forms.html' %}

{% block title %}
Register Database
{% endblock %}

{% block button_back %}
    onclick="window.location.href='{{ url_for('database.index') }}'"
{% endblock %}

{% block fields %}
    {% from "macro.html" import render_field %}
    {{ render_field(form.name, class='form-control') }}
    {{ render_field(form.host, class='form-control') }}
    {{ render_field(form.port, class='form-control') }}
    {{ render_field(form.sdi, class='form-control') }}
    {{ render_field(form.user, class='form-control') }}
    {{ render_field(form.password, class='form-control') }}
{% endblock %}